.DS_Store
**/DerivedData/
**/DerivedData
/DerivedData/
DerivedData/

**/build/
**/.build/
build/Release-iphoneos/selfManager.app/Assets.car
build/Release-iphoneos/selfManager.app/embedded.mobileprovision
build/Release-iphoneos/selfManager.app/Info.plist
build/Release-iphoneos/selfManager.app/PkgInfo
build/Release-iphoneos/selfManager.app/selfManager
build/Release-iphoneos/selfManager.app/_CodeSignature/CodeResources
build/Release-iphoneos/selfManager.app.dSYM/Contents/Info.plist
build/Release-iphoneos/selfManager.app.dSYM/Contents/Resources/DWARF/selfManager
build/Release-iphoneos/selfManager.app.dSYM/Contents/Resources/Relocations/aarch64/selfManager.yml
build/Release-iphoneos/selfManager.swiftmodule/arm64-apple-ios.abi.json
build/Release-iphoneos/selfManager.swiftmodule/arm64-apple-ios.swiftdoc
build/Release-iphoneos/selfManager.swiftmodule/arm64-apple-ios.swiftmodule
build/Release-iphoneos/selfManager.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
build/XCBuildData/build.db
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/build-request.json
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/description.msgpack
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/manifest.json
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/target-graph.txt
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/task-store.msgpack
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/0b9c3c01bd063d3007d085025396a9d6
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/1d2336196deee13c2fb93eefb578a612
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/4e35995369220f1f7a3bbc818a95967f
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/5a581e66323b34d0d9a833e35c852826
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/5c3e50c4778231dc6ceb5bacfaeef650
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/305c0dc7c5e3fa72d368ace7b2e45c5d
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/d6cecdb0682c0909c41068a4444ffa69
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/f4d17b93169169ed2d31c1f7beb04297
build/XCBuildData/4efc876faae4d1bed181d4e8f3204872.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/build-request.json
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/description.msgpack
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/manifest.json
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/target-graph.txt
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/task-store.msgpack
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/0b9c3c01bd063d3007d085025396a9d6
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/1d2336196deee13c2fb93eefb578a612
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/4e35995369220f1f7a3bbc818a95967f
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/5a581e66323b34d0d9a833e35c852826
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/4420c46cc9d15a94b2aeb030bc3ef584
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/c6d86a083fda8cb6f59b9caf88918172
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/d6cecdb0682c0909c41068a4444ffa69
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/f4d17b93169169ed2d31c1f7beb04297
build/XCBuildData/9e08eed9624419c549fa3319dc1ff0ed.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
build/selfManager.build/Release-iphoneos/selfManager-522fd78e0991cdbed593aa38bc50b63b-VFS-iphoneos/all-product-headers.yaml
build/selfManager.build/Release-iphoneos/selfManager.build/assetcatalog_dependencies
build/selfManager.build/Release-iphoneos/selfManager.build/assetcatalog_dependencies_thinned
build/selfManager.build/Release-iphoneos/selfManager.build/assetcatalog_generated_info.plist
build/selfManager.build/Release-iphoneos/selfManager.build/assetcatalog_generated_info.plist_thinned
build/selfManager.build/Release-iphoneos/selfManager.build/assetcatalog_signature
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager-all-non-framework-target-headers.hmap
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager-all-target-headers.hmap
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager-generated-files.hmap
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager-own-target-headers.hmap
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager-project-headers.hmap
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager.app.xcent
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager.app.xcent.der
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager.DependencyMetadataFileList
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager.DependencyStaticMetadataFileList
build/selfManager.build/Release-iphoneos/selfManager.build/selfManager.hmap
build/selfManager.build/Release-iphoneos/selfManager.build/SwiftStdLibToolInputDependencies.dep
build/selfManager.build/Release-iphoneos/selfManager.build/DerivedSources/Entitlements.plist
build/selfManager.build/Release-iphoneos/selfManager.build/DerivedSources/GeneratedAssetSymbols-Index.plist
build/selfManager.build/Release-iphoneos/selfManager.build/DerivedSources/GeneratedAssetSymbols.h
build/selfManager.build/Release-iphoneos/selfManager.build/DerivedSources/GeneratedAssetSymbols.swift
build/selfManager.build/Release-iphoneos/selfManager.build/DerivedSources/selfManager-Swift.h
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/AchievementDetailView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/AchievementDetailView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/AddContactView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/AddContactView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/AppEnums.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/AppEnums.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/Asset.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/Asset.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/AssetDetailView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/AssetDetailView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/Contact.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/Contact.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ContactDetailView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ContactDetailView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ContactSelectorView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ContactSelectorView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ContactView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ContactView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ExtractedAppShortcutsMetadata.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GeneratedAssetSymbols.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GeneratedAssetSymbols.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalActivityLogView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalActivityLogView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalActivityManager.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalActivityManager.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalDetailView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalDetailView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalMultiSelectorView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalMultiSelectorView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalPopupView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalPopupView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalType.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalType.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/GoalView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/HomeView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/HomeView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ImagePickerView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ImagePickerView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ImprovementDetailView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ImprovementDetailView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/Item.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/Item.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/MarkdownTextEditor.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/MarkdownTextEditor.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ModelMigrations.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ModelMigrations.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/Record.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/Record.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/RecordView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/RecordView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager_const_extract_protocols.json
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager_dependency_info.dat
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager-master.d
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager-master.dia
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager-master.swiftconstvalues
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager-master.swiftdeps
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager-OutputFileMap.json
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager-Swift.h
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager.abi.json
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager.LinkFileList
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager.SwiftConstValuesFileList
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager.swiftdoc
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager.SwiftFileList
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager.swiftmodule
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManager.swiftsourceinfo
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManagerApp.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/selfManagerApp.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/SettingsView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/SettingsView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/SharedComponents.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/SharedComponents.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/supplementaryOutputs-1
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ToastView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/ToastView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/TrashCleanupService.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/TrashCleanupService.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/TrashView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/TrashView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/User.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/User.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/UserEditView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/UserEditView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/WelcomeView.o
build/selfManager.build/Release-iphoneos/selfManager.build/Objects-normal/arm64/WelcomeView.stringsdata
build/selfManager.build/Release-iphoneos/selfManager.build/assetcatalog_output/thinned/Assets.car
